/*
 Author: Brett Crawford <brett.crawford@temple.edu>
 File:   default.css
 Date:   Jan 28, 2015
 Desc:
*/

/*
 RasPi Logo Colors
 Magenta:       bd1143
 Light Magenta: bd7b8e
 Green:         76a928
 Light Green:   98a97f
*/

.center-text {
    text-align: center;
}

#pacman-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
}

#pacman-exit-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 6;
}

a {
    -webkit-text-stroke: 0.25px black;
}

a:link {
    color: #bd1143;
}

a:visited {
    color: #bd7b8e;
}

a:hover {
    color: #76a928;
}

body {
    font-family: "Bitter", "Lucida Console";
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 180%;
    background-image: url(../img/circuit-board.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
}

.container {
    width: 85%;  
    margin: auto;
    min-width: 750px;
}

.header {
    position: relative;
}

.signin-container {
    display: table;
    color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
}

.signin-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.signin-content-visible {
    display: table-cell;
}

.signin-content-invisible {
    display: none;
}

.welcome-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.welcome-content-visible {
    display: table-cell;
}

.welcome-content-invisible {
    display: none;
}

.title-container {
    color: black;
    font-size: 19px;
    padding: 30px;
    width: 460px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.title-img {
    float: left;
    margin-right: 5px;
}

.title-img img {
    position: absolute;
    z-index: 1;
}

.title {
    margin-left: 85px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.title-desc {
    font-size: 20px;
    margin-left: 85px;
    text-align: center;
}

.nav {
}

.tab {
    float: left;
    position: relative;
    padding: 10px;
    width: 12.5%; //14.2857%;
    min-width: 98px; 
    color: #bd1143;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: -webkit-linear-gradient(rgba(127, 127, 127, 0.8), rgba(255, 255, 255, 0.8));
    background: -o-linear-gradient(rgba(127, 127, 127, 0.8), rgba(255, 255, 255, 0.8));
    background: -moz-linear-gradient(rgba(127, 127, 127, 0.8), rgba(255, 255, 255, 0.8));
    background: linear-gradient(rgba(127, 127, 127, 0.8), rgba(255, 255, 255, 0.8));
}

.tab:hover { 
    background: -webkit-linear-gradient(rgba(118, 169, 40, 0.8), rgba(255, 255, 255, 0.8));
    background: -o-linear-gradient(rgba(118, 169, 40, 0.8), rgba(255, 255, 255, 0.8));
    background: -moz-linear-gradient(rgba(118, 169, 40, 0.8), rgba(255, 255, 255, 0.8));
    background: linear-gradient(rgba(118, 169, 40, 0.8), rgba(255, 255, 255, 0.8));
}

.tab-link,
.tab-dropdown-item-link {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.tab-connector-unselected {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.tab-divider {
    position: absolute;
    width: 2px;
    height: 88%;
    bottom: 0;
    right: -1.25px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.tab-dropdown-menu {
    position: absolute;
    display: none;
    width: 100%;
    top: 48px;
    left: 0.5px;
}

.tab-with-dropdown:hover .tab-dropdown-menu,
.tab-dropdown-menu:hover .tab-dropdown-menu {
    display: block;
}

.tab-dropdown-item {
    position: relative;
    background: rgba(207, 207, 207, 0.9);
    margin: 3px;
    border: thin solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.tab-dropdown-item:hover {
    background: -webkit-linear-gradient(rgba(118, 169, 40, 0.9), rgba(207, 207, 207, 0.9));
    background: -o-linear-gradient(rgba(118, 169, 40, 0.9), rgba(207, 207, 207, 0.9));
    background: -moz-linear-gradient(rgba(118, 169, 40, 0.9), rgba(207, 207, 207, 0.9));
    background: linear-gradient(rgba(118, 169, 40, 0.9), rgba(207, 207, 207, 0.9));
}

.newLine {
    clear: both;
}

.raspberrypi-img {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.raspberrypidiagram-img {
    float: right;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.content {
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
}

.content-text {
    color: black;
}

.indented-para {
    padding-left: 20px;
}

.raspi-popup {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    position: relative;
}

.raspi-popup .close-btn {
    position: absolute;
    top: -10px;
    right: -10px;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgba(180, 180, 180, 0.8);
}

.theme-chooser {
    color: black;
    font-size: 12px;
}

.footer {
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(127, 127, 127);
    background-color: rgba(127, 127, 127, 0.8);
}

.footer-text {
    color: white;
}

.deadspace {
    height: 70px;
}